@font-face {
    font-family: 'Myriad Pro', sans-serif;
    src: url(fonts/MyriadPro/MyriadPro-Regular.ttf);
}

.fixedpagewidth {
    width: 1280px; 
    margin: 0 auto;   
    overflow: hidden;
}

h1 {
    margin-top: 60px;
    margin-bottom: 0;

}
  
h1 > a {
    font-family: 'Myriad Pro', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-decoration: none;
}

.logotextblue {
    color: rgb(0, 203, 255);
}

.topnavigation {
    margin-top: 60px;
    margin-bottom: 50px;
    height: 70px;
    background-color: rgb(41, 66, 78); 
    text-align: center;
}

.topnavigation li:hover{
    background-color: rgb(34, 47, 58);  
    border-color: rgb(129, 129, 129);  
    border-left: solid;
    border-right: solid;
    border-width: 1px;
}

.topnavigation li {
    padding: 23px 40px 23px 40px;
    padding-inline: ;
    display: inline-block;
    font-size: 24px;
    font-family: 'Myriad Pro', sans-serif;
}

.topnavigation a {
    color: white;
    text-decoration: none;
}

.leftnavigation {
    min-width: 340px;
    border-style: solid;
    border-width: 1px;
    margin-right: auto;
    margin-bottom: 100px;
}

.leftnavigation ul {
    margin: 0;
    padding: 0;
}

.leftnavigation li {
    text-align: left;
    list-style-type: none;
    font-size: 24px;
    padding: 30px 40px;
}

.leftnavigation li:hover {
    background-color: rgb(219, 219, 219);  
    padding: 30px 60px;
}

.leftnavigation a {
    color: black;
    text-decoration: none;
    font-family: 'Myriad Pro', sans-serif;
}

.image-wrapper {
    padding: 75px 290px;
    border-style: solid;
    border-width: 1px;
}


.dispinline {
    display: flex;
}


.main-text {
    margin: 50px auto 0px;
}

.main-text p {
    width: 815px;
    float: right;
    margin: 15px;
    text-align: justify;
    font-family: 'Myriad Pro', sans-serif;
    line-height: 1.333;
    font-size: 18px;
}

.footernav li {
    padding: 23px;
    display: inline-block;
    font-size: 24px;
    font-family: 'Myriad Pro', sans-serif; 
    vertical-align: middle;

}

.footernav a {
    text-decoration: none;
    color: black;
}

.footernav a:hover {
    text-decoration: none;
    color: blueviolet;
    text-decoration: underline;
}

.footernav {
    display: inline-block;
}

.footall {
    background-color: rgb(180, 183, 186);
    height: 70px;
    margin-bottom: 40px;
    width: 100%;
    display: table;
}

.copyright {
    font-size: 24px;
    margin-left: 130px;
    display: inline-block;
    
}
