body {
    margin: auto;
    width: 1280px;
}

nav {
    text-align: center;
    width: 1280px;
    height: 80px; 
}

nav ul {
    margin: 0 auto;
    padding-top: 31px; 
    padding-bottom: 31px; 
    list-style: none;
    vertical-align: middle;
}
    
nav li {
    display: inline-block;
    margin: 0 35px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: rgb(22, 160, 133);
}

.imaged {
    width: 1280px;
    height: 790px;
    text-align: center;
    
}

.bodyoftext{
    background-color: rgb(245, 246, 247);
    /* margin-top: 60px; */
    padding-top: 50px;
    height: 650px;
}

h3 {
    font-size: 22px;
    font-family: "Robot", sans-serif;
    color: rgb(55, 55, 55);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}

.par1 {
    font-size: 16px;
    font-family: "Robot", sans-serif;
    color: rgb(55, 55, 55);
    margin: 20px 100px 20px 100px;
    text-align: center;
    line-height: 1.625;
}

.par2 {
    font-size: 16px;
    font-family: "Robot", sans-serif;
    color: rgb(55, 55, 55);
    margin: 20px 100px 45px 100px;
    text-align: center;
    line-height: 1.625;
}

.bott {
    font-size: 12px;
    font-family: "Robot", sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    height: 55px;
    width: 200px;
    background-color:rgb(22, 160, 133);
    display: inline-block;
    border: 0;
    margin: 0 auto;
}

.foot {
    height: 100px;
    position: relative;
}
.copyright {

    font-size: 16px;
    font-family: "Robot", sans-serif;
    color: rgb(55, 55, 55);
    margin: 0;
    right: 90px;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%)
    
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "Robot", sans-serif;
    src: url("fonts/Roboto/Roboto-Bold.ttf");
}

