@font-face {
    font-family: 'Arimo', sans-serif;
    src: url(fonts/Arimo/Arimo-Bold.ttf);
    src: url(fonts/Arimo/Arimo-BoldItalic.ttf);
    src: url(fonts/Arimo/Arimo-BoldItalic.ttf);
    src: url(fonts/Arimo/Arimo-Regular.ttf);
}
* {
    border-spacing: 0;
}

.main {
    width: 1200px; 
    height: 740px;
    border: 20px solid rgb(58, 73, 101);
    text-transform: uppercase;
    margin: auto;
    font-family: 'Arimo', sans-serif;
    color: rgb(72, 72, 72);
}

.gray {
    background: rgb(72, 72, 72);
}

.lightgreen {
    background: rgb(137,195,49);
    vertical-align: middle;
    text-align: center;
    height: 86px;
}

.red {
    background: rgb(240,74,86);
    vertical-align: middle;
    text-align: center;
    height: 86px;
    

}

.green {
    background: rgb(32,128,124);
    vertical-align: middle;
    text-align: center;
    height: 86px;
    
}

.first-cell {
    vertical-align: middle;
    text-align: center;
    height: 86px;
    line-height: 0;
}

.first-cell-text1 {
    font-weight: normal;
    font-size: 18px;
}

.first-cell-text2 {
    font-weight: bold;
    font-size: 30px;
}

.other-cells {
    vertical-align: middle;
    text-align: center;
    height: 86px;
}

.color-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.price-content {
    display: inline-block;
    width: 220px;
    height: 50px;
}
.big-num-price {
    float: left;
    font-size: 60px;
    font-weight: bolder;
}
.small-num-price {
    text-align: left;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
.price-text {

    padding-top: 5px;
    font-size: 18px;
    font-weight: normal;
}

.single-body-cell {
    vertical-align: middle;
    text-align: center;
    height: 70px;

}

i {
    color: gray;
    font-size: 16px;
}

span {
    font-size: 16px;
}

tfoot a {
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 45px;
    color: white;
    box-shadow: inset 0px -12px 5px -1px rgba(0,0,0,0.5);
}


thead tr:nth-child(2) th {
    box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.2),
                0px 1px 1px 0px rgba(0,0,0,0.14),
                0px 1px 4px 0px rgba(0,0,0,0.12),
                0px 1px 4px 0px rgba(0,0,0,0.10);
}

tbody tr:nth-child(odd) {
    background: rgb(242, 242, 242);
}

tbody tr:nth-child(even) {
    background: rgb(227, 227, 227);
}

tbody td {
    box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.2),
                0px 1px 1px 0px rgba(0,0,0,0.14),
                0px 1px 4px 0px rgba(0,0,0,0.12),
                0px 1px 4px 0px rgba(0,0,0,0.10);
                
}

tfoot td {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
                0px 1px 1px 0px rgba(0,0,0,0.14),
                0px 1px 3px 0px rgba(0,0,0,0.12),
                0px 1px 4px 0px rgba(0,0,0,0.10);
    box-sizing: border-box;
    height: 110px;
}

tfoot td:first-child {
    background: rgb(221, 221, 221);
}

tfoot td:nth-child(2n) {
    background: rgb(242, 242, 242);
}
tfoot td:nth-child(3) {
    background: rgb(242, 242, 242);
}

tfoot a:hover {
    box-shadow: inset -5px -10px 10px 20px rgba(0,0,0,0.5);
    transition: step-end;
}

